@import '../../../assets/bootstrap-v4/css/bootstrap.css';
input[type="submit"] {
    background-color: rgba(170, 143, 23, 0.87);
    box-sizing: border-box;
    color: white;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    white-space: normal;
  
  }
.forget{
   color: rgba(170, 143, 23, 0.87);
   font-family: Arial;
   font-size: 16px;
   
 
}
input[type="button"] {
    background-color: rgba(170, 143, 23, 0.87);
    box-sizing: border-box;
    color: white;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    white-space: normal;
  
  }span>a {
    font-family: Arial;
    font-size: 16px;
    text-align: center;
    margin-left: 20px;
  }
  .p-elment{
    width: 600px;
    margin-top: 30px;
  }

