
.list{
  background-color: rgba(170, 143, 23, 0.87);
}
input[type="button"] {
  background-color: rgba(170, 143, 23, 0.87);
  box-sizing: border-box;
  color: white;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  white-space: normal;

}